relax-ng/2017/2017-07-25-intro/address_book.rng

<element name="addressBook" xmlns="http://relaxng.org/ns/structure/0.9">
  <zeroOrMore>
    <element name="card">
      <choice>
        <element name="name">
          <text />
        </element>
        <attribute name="name" />
      </choice>
      <choice>
        <element name="email">
          <text />
        </element>
        <attribute name="email" />
      </choice>
    </element>
  </zeroOrMore>
</element>
