relax-ng/2017/2017-07-25-intro/address_book.rng

<element name="addressBook" xmlns="http://relaxng.org/ns/structure/0.9">
  <zeroOrMore>
    <element name="card">
      <attribute name="name">
        <text />
      </attribute>
      <attribute name="email">
        <text />
      </attribute>
      <optional>
        <attribute name="note">
          <text />
        </attribute>
      </optional>
    </element>
  </zeroOrMore>
</element>
